:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

a {
	color: #d400ff;
	text-decoration: none;
}

a:hover {
	text-shadow: 0 0 5px #ffffff4e, 0 0 10px #ffffff4e, 0 0 15px #ffffff4e;
	text-decoration: underline;
}

@media (max-width: 639px) {
	#app {
		margin: 2rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
}